# These files will be ignored while pushing...

# .env files
.env

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
package-lock.json
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.git/
server/uploads/userAvatars/1730355792936-DALLÂ·E 2024-10-12 08.55.31 - A dynamic 16_9 background for a gaming website, featuring GTA 5 and two Assassin's Creed characters_ Ezio and Connor. The design should blend action-p.webp
